[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
awscli = "*"
mailbox = "*"
boto3 = "*"
wget = "*"
pandas = "*"
numpy = "*"
datetime = "*"
regex = "*"
ipykernel = "*"

[requires]
python_version = "3.6.3"
